<md-dialog aria-label="Favorite"  ng-cloak>
  <form>
    <md-toolbar>
      <div ng-controller="imageCtrl" class="md-toolbar-tools">
        <h2>Your favorite image</h2>
        <span flex></span>

		<!-- <img class="flickr-image" ng-src="https://farm{{shot.farm-id}}.staticflickr.com/{{shot.server-id}}/{{shot.id}}_{{shot.secret}}.jpg"/> -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
		<p>This is one fantastic picture, right? </p>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>