<div class="tab-container" ng-cloak="" ng-controller="imageCtrl as vm">
	<md-content>

		<md-tabs md-ink-bar="#09ff00"md-disable-animation md-dynamic-height md-center-tabs="true" md-no-select-click="true">

			<!--// TAB 1 //-->		
			<md-tab label="Recent Photos">
			<md-content class="md-padding">
			<div ng-controller="imageCtrl as vm" ng-cloak="" ng-app="myApp" layout="column" layout-fill>
				<md-content id="content-scroller">
				<div>
					<div
						 class="cards-wrap"
						 angular-grid="vm.shots"
						 ag-grid-width="300"
						 ag-gutter-size="12"
						 ag-id="shots"
						 ag-infinite-scroll="false"
						 >
					  <div class="card" ng-repeat="shot in vm.shots track by $index">
						  <img class="flickr-image" ng-src="https://farm{{shot.farm-id}}.staticflickr.com/{{shot.server-id}}/{{shot.id}}_{{shot.secret}}.jpg"/>
							<md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="addToFavorite(shot)">
								<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
							</md-button>
							
					  </div>
					</div>
					<md-button ng-hide="vm.loadingMore" class="md-raised" style="margin-left:50%; margin-right: 50%;" ng-click="vm.loadingMore=true && vm.loadMoreShots()">	
						Load more
					</md-button>
					<div class="loading-more-indicator" ng-show="vm.loadingMore">
						<md-progress-circular md-mode="indeterminate" md-diameter="64" class="progress-swatch"></md-progress-circular>
					</div>
				</div>
				</md-content>
			</div>
			</md-content>
			</md-tab>
			
			
			<!--// TAB 2 //-->
			<md-tab label="Search">
			<md-content class="md-padding">

				<div ng-controller="searchCtrl as vn" ng-cloak="" ng-app="myApp" layout="column" layout-fill>
					<div class="searchbar">
					 <md-input-container class="md-block">
						<label>Search Pictures</label>
						<input ng-model="text">
						<md-button class="md-raised" style="float:left;" ng-click="search(text)">Search</md-button>
					  </md-input-container>
					 </div>
					<md-content id="content-scroller">
					<div>
						<div
							 class="cards-wrap"
							 angular-grid="vn.shots"
							 ag-grid-width="300"
							 ag-gutter-size="12"
							 ag-id="shots"
							 ag-infinite-scroll="false"
							 >
						  <div class="card" ng-repeat="shot in vn.shots track by $index">
							  <img class="flickr-image" ng-src="https://farm{{shot.farm-id}}.staticflickr.com/{{shot.server-id}}/{{shot.id}}_{{shot.secret}}.jpg"/>
								<md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="addToFavorite(shot)">
									<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
								</md-button>
						  </div>
						</div>
						<md-button class="md-raised" style="margin-left:45%;" ng-click="vn.loadingMore=true && vn.loadMoreShots()">	
							Load more
						</md-button>
						<md-button class="md-raised" style="position: fixed; bottom: 35px; right: 40px;" ng-click="scroll()">	
							Scroll to top
						</md-button>
						<div class="loading-more-indicator" ng-show="vn.loadingMore">
						  <md-progress-circular md-mode="indeterminate" md-diameter="64" class="progress-swatch"></md-progress-circular>
						</div>
					</div>
					</md-content>
				</div>
			</md-content>
			</md-tab>
			
			<!--// TAB 1 //-->
			<md-tab label="Favorites">
			<md-content class="md-padding">
			<div ng-controller="imageCtrl as vm" ng-cloak="" ng-app="myApp" layout="column" layout-fill>
				<md-content id="content-scroller">
				<div>
					<div
						 class="cards-wrap"
						 angular-grid="favorites"
						 ag-grid-width="500"
						 ag-gutter-size="8"
						 ag-id="shot"
						 ag-infinite-scroll="false"
						 >
					  <div class="card" ng-repeat="shot in favorites">
						  <img class="flickr-image" ng-src="https://farm{{shot.farm-id}}.staticflickr.com/{{shot.server-id}}/{{shot.id}}_{{shot.secret}}.jpg"/>
						  <br/>
							<md-button style="margin-top:5px;" class="md-icon-button md-raised md-accent" ng-click="removeFavorite(shot)">		
								X
							</md-button>
<!-- 							<div ng-controller="dialogCtrl" class="md-padding" id="popupContainer" ng-cloak>
								<div class="dialog-demo-content" layout="row" ayout="row" layout-wrap layout-margin layout-align="center">
									<md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
										Info
									</md-button>
								</div>
							</div> -->
						</div>
					</div>
				</div>

				</md-content>
			</div>
			</md-content>
			</md-tab>
		</md-tabs>  
	</md-content>	
</div>