<!DOCTYPE html>
<html>
<head>
<title>Albumgram</title>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#hej {
    width:350px;
    height:500px;
    text-align: center;	 	 
}

</style>
</head>

<body>

<div id="header">
<h1>Albumgram</h1>
</div>


<div id="hej">
<h2>London</h2>
<p>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>



</body>
</html>
